body {
    background-color: #EEF9BF;
    box-sizing: border-box;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titulo h1 {
  text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 65.63px;
    color: #75B79E;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 862px;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
  gap: 34px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .back-face img {
    width: 100px;
  }

  .giro-back-face {
    transform: rotateY(0deg);
  }

  .front-face img {
    width: 100px;
    height: 100px;
  }

  .giro-front-face {
    transform: rotateY(-180deg);
  }

  .timer {
    height: 47px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 42.19px;
    color: #86BD8D;
    position: fixed;
    top: 16px;
    right: 25px;
  }

@media (max-width: 430px){
  .titulo h1 {
    font-size: 36px;
    line-height: 42.19px;
  }
}

  @media (max-width: 330px) {
    .titulo h1 {
      font-size: 36px;
      line-height: 42.19px;
    }

    .cards {
      flex-direction: column;
      align-items: center;
    }
}